.table {
  width: 550px;
  text-align: center;
}

.head {
  font-weight: 700;
  background-color: rgb(58, 58, 58);
  color: #ffffff;
}

.head th {
  padding: 10px;
}

.line:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

.line td {
  padding: 7px 10px;
}

.type {
  text-align: start;
}
